rospy~=1.14.6
roslib~=1.14.9
tf~=1.12.1
numpy~=1.16.6
matplotlib~=2.2.5
enum34~=1.1.6
rosbag~=1.14.6
simplejson~=3.13.2
scikit-image~=0.14.5
argparse~=1.2.1
rospkg~=1.2.8
Pillow~=6.2.2
rostest~=1.14.6
catkin~=0.7.26
genpy~=0.6.12
roslaunch~=1.14.6
psutil~=5.4.2
scipy~=1.2.3

